
html{
    font-family: "VT323", serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(0.8rem + 0.5vw); /*to make font size responsive */

}

body{
    display:flex;
    background-color: #0A192F; 
    color: #EEEEEE;
}

#leftContainer{
    height: 100vh;
    margin: 0 20px 0 0 ;
    color: white;
    flex:30%;
    background-image: url('https://images.pexels.com/photos/3913025/pexels-photo-3913025.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size:cover;  
    background-position:center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: black;
    opacity: 0.5;
}   

#logoImg{
    width: 40%;
    height: auto;
    max-width: 100%;
}

#logoInfo{
    position:static;
    text-align: center;
    bottom: 0;
    width: 100%;
}

#rightContainer{
    flex:70%;
}

#hero{
    font-size: 1em;
    display:flex;
    align-items: center;
    align-items: center;
}

#robotImage{
    width: 40%;
    height:auto;
    max-width: 100%
}

fieldset{
    border: 2px solid #007BFF;
    border-radius: 5px;
}

.infoInput{
    display: block;
    margin: 10px 0;
    
}



#signupContainer{
    
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding-top: 20px;
    border-top: 2px solid #007BFF;
}

#submit{
    margin: 10px 0;
    background-color: #00ADB5; 
    color: #0A192F; 
    border: 2px solid #007BFF;
}

footer{
    
    position:static;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px;
}